<div class='contenido-principal'>

  <h1>Desafíos</h1>




  {{!-- {{#each model as |grupo|}} --}}



    {{#each model as |desafio| }}
      {{pilas-desafio model=desafio}}

      {{!-- {{desafio.id}} --}}

      {{!-- {{pilas-desafio model=desafio }} --}}



    {{/each}}

  {{!-- {{/each}} --}}

</div>
