<div class='contenido-principal'>

  <h1>Desafíos</h1>




  {{#each model as |grupo|}}



    {{#each grupo.desafios as |desafio|}}
      {{pilas-desafio model=desafio}}
    {{/each}}

  {{/each}}

</div>
